extend layout
block content
  canvas#d(width="500",height="500",style="border:1px solid #aaa")
  script(src="/javascripts/jquery-1.9.1.min.js")
  script(src="/javascripts/fabric.js-1.6.3/fabric.js-1.6.3/dist/fabric.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/d_client.js")